.header {
    text-align: center;
    background-color: transparent;
    padding-bottom: 50px;
    background-image: url('../../images/HP.jpeg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100vw;

}